@charset "UTF-8";

:root {
    --cor0: whitesmoke;
    --cor1: #65AFFF;
    --cor2: #8739F9;
    --cor3: #7E4482;
    --cor4: #363636;
    --cor5: #242424;
    --cor6: #1b1b1b;
    --cor7: #100f10;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor6);
    padding: 10px;
    border-bottom: 2px solid black;
}

.logo {
    color: var(--cor1);
    font-family: 'Permanent Marker', cursive, Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.322);
    margin-left: 32px;
}

nav {
    text-align: right;
}

.nav-topico {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-right: 32px;
}

.nav-topico:hover {
    text-decoration: underline;
    color: var(--cor1);
}

.nav-topico::before {
    content: "";
    background-color: var(--cor1);
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.nav-button {
    display: inline-block;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    height: 60px;
    text-decoration: none;
    color: var(--cor0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding: 0 10px;
    line-height: 60px;
    border-radius: 20px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.493);
    transition: tranform 0.3s linear;
}

.nav-button._menu-button {
    margin-right: 32px;
}

.nav-button:hover {
    text-decoration: none;
    color: var(--cor7);
    transform: scale(1.08);
}

.banner {
    background-image: url("../Imagens/Banner1076x603.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    border-bottom: 10px solid #000;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner .div-button {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 150px;
    width: 300px;
}

.box {
    display: inline-block;
    margin-top: 100px;
    margin-left: 30px;
    background-color: var(--cor6);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 4px #000;
    width: 500px;
}

.title {
    color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.493);
    margin-bottom: 15px;
}

.subtitle {
    color: var(--cor2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
}

.skills {
    background-color: blue;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}

.skills-title {
    color: #100f10;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

.skills-list .nome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: var(--cor0);
}